@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #100f0f;
}

.tyre-none {
    stroke: gray;
}

.tyre-soft {
    stroke: red;
}

.tyre-medium {
    stroke: yellow;
}

.tyre-hard {
    stroke: white;
}

.tyre-inter {
    stroke: green;
}

.tyre-wet {
    stroke: blue;
}